
@media (min-width: 1000px) {
   main{
    .Card--container {
        width: 360px;
        height: 600px;

        .Card--top-infomation {
            margin-top: 12%; 
        }
    }

    

   } 
}

